:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --master-leter-spacing: 0.03em;
  --basic-content-indentation: 30px;
  --accent-color: #2196f3;
  --master-text-color: #757575;
  --master-title-color: #212121;
  --secondary-text-color: #ffffff;
  --transformation-time: 250ms;
  --time-allocation-function: cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ============= COMPONENTS ============= */
.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: var(--master-leter-spacing);
  color: var(--master-title-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
}
.social-item {
  margin-left: 10px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill var(--transformation-time) var(--time-allocation-function),
    background-color var(--transformation-time) var(--time-allocation-function);
}
.social-link:hover,
.social-link:focus {
  fill: var(--secondary-text-color);
  background-color: var(--accent-color);
}
/* =====================HEADER=======================*/
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu-link {
  display: flex;
  justify-content: center;
}
.menu-item:not(:first-child) {
  margin-left: 50px;
}
.menu-item:first-child {
  margin-left: 93px;
}

.logo-link {
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: var(--master-leter-spacing);
  color: #000000;
}
.logo-edd-color {
  color: #2196f3;
}
.menu,
.header-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--master-text-color);
  fill: var(--master-text-color);
  transition: color var(--transformation-time), var(--time-allocation-function);
}
.contact-icons {
  margin-right: 10px;
}
.contact-list:not(:first-child) {
  margin-left: 50px;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-link {
  color: var(--master-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transformation-time) var(--time-allocation-function);
}
.current {
  position: relative;
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0px;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* =====================HERO========================= */
.hero {
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/bc.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  padding: 200px 0;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.hero-button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transformation-time) var(--time-allocation-function),
    box-shadow var(--transformation-time) var(--time-allocation-function);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
/* ====================MAIN========================= */

/* ============Features OF OUR COMPANY===============*/

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(-1 * var(--basic-content-indentation));
}

.feature-list-item {
  margin-left: 30px;
  flex-basis: calc(100% / 4 - var(--basic-content-indentation));
}
.feature-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--basic-content-indentation);
  height: 120px;
  border: none;
  border-radius: 4px;
  background: #f5f4fa;
}
.feature-section-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--master-leter-spacing);
  text-transform: uppercase;
  color: var(--master-title-color);
}
.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--master-leter-spacing);
  color: var(--master-text-color);
}
/* <=========================servises============================= */
.servises-section {
  padding-bottom: 94px;
}
.servises-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(-1 * var(--basic-content-indentation));
}
.servises-item {
  position: relative;
  margin-left: var(--basic-content-indentation);
}
.servises-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: var(--master-leter-spacing);
  text-transform: uppercase;

  color: var(--secondary-text-color);
}
/* ==========================TEAM============================== */
.team-section {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(-1 * var(--basic-content-indentation));
}
.team-item {
  margin-left: var(--basic-content-indentation);
  flex-basis: calc(100% / 4 - var(--basic-content-indentation));
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.team-card {
  padding-top: var(--basic-content-indentation);
  padding-bottom: var(--basic-content-indentation);
  padding-left: 32px;
  padding-right: 32px;
  width: 270px;
  text-align: center;
  background-color: var(--secondary-text-color);
}

.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: var(--master-leter-spacing);
  color: var(--master-title-color);
}
.team-section-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: var(--master-leter-spacing);
  color: var(--master-text-color);
}

.social-link-gray {
  fill: #afb1b8;
  background-color: var(--secondary-text-color);
}
/* ===================regular-clients================== */
.regular-clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--basic-content-indentation));
}
.regular-clients-item {
  margin-left: var(--basic-content-indentation);
}
.regular-clients-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill var(--transformation-time) var(--time-allocation-function),
    background-color var(--transformation-time) var(--time-allocation-function);
}
.regular-clients-link:hover,
.regular-clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
/* =======================FOOTER========================= */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: var(--master-leter-spacing);
  color: var(--secondary-text-color);
}
.location {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: var(--master-leter-spacing);
  color: var(--secondary-text-color);
  transition: color var(--transformation-time) var(--time-allocation-function);
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-company {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: var(--master-leter-spacing);
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transformation-time) var(--time-allocation-function);
}

.location:hover,
.address-company:hover {
  color: var(--accent-color);
}
.location:focus,
.address-company:focus {
  color: var(--accent-color);
}
.join-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 12px;
}
.join {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--master-leter-spacing);
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.social-link-white {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-text-color);
}
.footer-form {
  display: block;
  margin-left: 93px;
  margin-top: 12px;
}

.footer-form-head {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--master-leter-spacing);
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.form-input-btn-container {
  display: flex;
}
.footer-form-input {
  padding: 15px 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: var(--master-leter-spacing);
  color: var(--secondary-text-color);
  transition: border-color var(--transformation-time) var(--time-allocation-function);
}
.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input:focus {
  border-color: var(--accent-color);
}
.footer-form-btn {
  display: flex;
  margin-left: 12px;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  transition: background-color var(--transformation-time) var(--time-allocation-function);
  color: var(--secondary-text-color);
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #188ce8;
}
.btn-send-icon {
  margin-left: 10px;
  fill: white;
  background-color: none;
}

/* ======================PORTFOLIO============================= */
/* =====================ART GALLERY========== */
.button-list {
  display: flex;
  justify-content: center;
  margin-left: -8px;
  margin-bottom: 50px;
}
.portfolio-button {
  margin-left: 8px;
  padding: 6px 22px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: var(--master-leter-spacing);
  color: var(--master-title-color);
  background-color: #f5f4fa;
  transition: color var(--transformation-time) var(--time-allocation-function),
    background-color var(--transformation-time) var(--time-allocation-function),
    box-shadow var(--transformation-time) var(--time-allocation-function);
}
.active {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  transition: color var(--transformation-time) var(--time-allocation-function),
    background-color var(--transformation-time) var(--time-allocation-function),
    box-shadow var(--transformation-time) var(--time-allocation-function);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px #0000001f;

  box-shadow: 0px 1px 2px 0px #00000014;

  box-shadow: 0px 3px 1px 0px #0000001a;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--basic-content-indentation));
  margin-bottom: calc(-1 * var(--basic-content-indentation));
}
.gallery-item {
  margin-left: var(--basic-content-indentation);
  margin-bottom: var(--basic-content-indentation);
  flex-basis: calc(100% / 3 - var(--basic-content-indentation));

  border: 1px solid #eeeeee;
}
.galiery-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);

  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--transformation-time) var(--time-allocation-function);
}

.work-card {
  background-color: var(--secondary-text-color);
  padding: 20px 24px;
}
.work-reference {
  display: block;
  transition: box-shadow var(--transformation-time) var(--time-allocation-function);
}

.work-reference:hover,
.work-reference:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work-reference:hover .overlay,
.work-reference:focus .overlay {
  transform: translateY(0%);
}
.work-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--master-title-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: var(--master-leter-spacing);
  color: var(--master-text-color);
}
/* =============================modal=============================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transformation-time) var(--time-allocation-function),
    visibility var(--transformation-time) var(--time-allocation-function);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.close-btn {
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  background-color: var(--secondary-text-color);
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: box-shadow var(--transformation-time) var(--time-allocation-function),
    fill var(--transformation-time) var(--time-allocation-function);
}
.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}
.close-btn:active {
  box-shadow: 0px 2px 1px 0px #7e5a5a33, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* ==========================modal-form========================= */
.modal-form {
  padding: 40px;
}
.modal-form-head {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: var(--master-leter-spacing);
  color: #212121;
}
.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form-input-wraper {
  display: block;
  position: relative;
}
.modal-form-input {
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;

  outline: none;
  cursor: pointer;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--transformation-time) var(--time-allocation-function),
    fill var(--transformation-time) var(--time-allocation-function);
}
.modal-form-input:focus {
  border-color: var(--accent-color);
}
.modal-form-input:focus + .modal-icon {
  fill: var(--accent-color);
}
.modal-icon {
  position: absolute;
  bottom: 50%;
  left: 15px;
  transform: translateY(50%);
}
.modal-form-message {
  padding: 12px 16px;
  outline: none;
  margin-top: 4px;
  margin-bottom: 10px;
  display: block;
  resize: none;
  width: 100%;

  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #212121;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transformation-time) var(--time-allocation-function);
}
.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  border-color: var(--accent-color);
}
.modal-button-submit {
  display: block;
  padding: 10px 55px;
  margin: 0 auto;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  transition: background-color var(--transformation-time) var(--time-allocation-function),
    box-shadow var(--transformation-time) var(--time-allocation-function);

  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}
.modal-button-submit:hover,
.modal-button-submit:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-form-checkbox-label::before {
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid #212121;
  border-radius: 4px;
  transition: border var(--transformation-time) var(--time-allocation-function),
    background-image var(--transformation-time) var(--time-allocation-function);
}
.modal-form-label-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: var(--master-leter-spacing);
  text-decoration-line: underline;
  color: var(--accent-color);
}
.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/checkbox/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  object-fit: cover;
  border: none;
}
.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  border-color: var(--accent-color);
}
.modal-form-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
