.join-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 12px;
}
.join {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--master-leter-spacing);
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.social-link-white {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-text-color);
}
