.social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  &__item {
    margin-left: 10px;
  }
}
.social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill var(--transformation-time) var(--time-allocation-function),
    background-color var(--transformation-time) var(--time-allocation-function);
  &:hover,
  &:focus {
    fill: var(--secondary-text-color);
    background-color: var(--accent-color);
  }
}
