.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
}
.social-item {
  margin-left: 10px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill var(--transformation-time) var(--time-allocation-function),
    background-color var(--transformation-time) var(--time-allocation-function);
}
.social-link:hover,
.social-link:focus {
  fill: var(--secondary-text-color);
  background-color: var(--accent-color);
}
